
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2a365; 
  --secondary-color: #ffffff; 
  --loader-color: #111;
}


body {
  font-family: 'Playfair Display', serif;
  background-color: #111; /* Fond noir */
  color: #fff; /* Texte blanc */
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111; 
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.8em;
  font-family: 'Playfair Display', serif;
  color: #f2a365; 
  text-transform: uppercase;
}

div p {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-left: 50px;
  margin-right: 50px;
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  font-family: 'Playfair Display', serif;
  color: #f2a365;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(main.jpg) center/cover no-repeat;
  background-size: cover;
  padding: 0 10%;
  margin-bottom: 100px;
}

.hero-content {
  max-width: 1000px;
  text-align: center;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  color: #f2a365; 
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  color: #ffffff; 
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px ;
}
.grid img {
  border-radius: 10px;
  max-width: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 300px;
  transition: transform 0.3s ease;
  
}
.grid img:nth-child(n + 10) {
  display: flex;
}

.grid img:hover {
  transform: scale(1.05); 
}

.grid figcaption {
  font-size: 0.8em;
  max-width: 400px;
  color: #ccc; 
  margin-bottom: 120px;
}


/* Nav-banner */
.nav-banner {
  background-color: #111;
  padding: 10px 0;
  text-align: center;
  top: 0;
  z-index: 100;
}

.nav-banner ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-banner ul li {
  margin: 0 20px;
}

.nav-banner ul li a {
  font-family: 'Playfair Display', serif;
  color: #f2a365;
  text-decoration: none;
  font-size: 1.5em; 
  font-weight: bold;
  letter-spacing: 1px;
  position: relative; 
  transition: transform 0.3s ease, color 0.3s ease; 
}


.nav-banner ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f2a365;
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-banner ul li a:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}

.nav-banner ul li a:hover {
  color: #fff; 
  transform: scale(1.1); 
}


.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  background-color: #111; /* Fond noir */
  margin-top: 50px;
}

.section .text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.section .text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  color: #f2a365; 
  margin-bottom: 15px;
}

.section .text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #f2a365; 
  margin-bottom: 15px;
}


.section .text p {
  font-size: 1.1em;
  color: #ccc; 
  line-height: 1.8;
}

.section img {
  flex: 1;
  max-width: 400px; 
  max-height: auto; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



.section img:hover {
  transform: scale(1.05); 
}

.section figcaption {
  font-size: 0.8em;
  max-width: 400px;
  color: #ccc; 
}

.section:nth-child(even) {
  flex-direction: row-reverse; 
}


footer {
  text-align: center;
  padding: 20px;
  background: #111; 
  color: #f2a365; 
  margin-top: 50px;
}


@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
    padding: 15px 20px;
  }

  .logo {
    font-size: 1.5em;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  nav ul li {
    margin-left: 15px;
  }

  .hero-content h1 {
    font-size: 3em; 
  }

  .hero-content p {
    font-size: 1em; 
  }

  .section img {
    width: 60%;
  }

  .section {
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
  }


  .section .text h2 {
    font-size: 2.5em;
  }

  .section .text p {
    font-size: 1em;
  }

  .grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .grid img {
    border-radius: 10px;
    max-width: 300px;
    height: auto;
  }

  footer {
    font-size: 0.9em;
  }
}


@media (max-width: 425px) {
  header {
    align-items: center;
    padding: 10px;
  }

  nav ul li a{
    font-size: 0.9em;
  }

  .logo {
    font-size: 1.2em; 
    text-align: center;
  }

  nav ul {
    align-items: center;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    font-size: 1em; 
  }

  .nav-banner ul li a {
    flex-wrap: nowrap;
    font-size: 1em;
  }

  .hero {
    height: 70vh; 
    padding: 0 5%;
  }

  .hero-content h1 {
    font-size: 2em; 
  }

  .hero-content p {
    font-size: 0.9em;
  }

  .section {
    flex-direction: column; 
    padding: 30px 5%;
  }


  .section .text h2 {
    font-size: 2em;
  }

  .section .text p {
    font-size: 0.9em;
  }

  .nav-banner ul {
    flex-direction: column; 

  .nav-banner ul li {
    margin: 10px 0;
  }

  footer {
    font-size: 0.8em;
    padding: 15px;
  }
}



@keyframes fadeOut {
  0% {opacity: 1;visibility: visible;}
  100% {opacity: 0;visibility: hidden;} 
} 

@keyframes lqt {
  0%, 100% {
    background-image: linear-gradient(#f2a365 40px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#f2a365 40px, transparent 0);
    background-position: 0% 40px;
  }
  50.1% {
    background-image: linear-gradient(#f2a365 40px, transparent 0);
    background-position: 0% -40px;
  }
}
@keyframes lqb {
  0% {
    background-image: linear-gradient(#f2a365 40px, transparent 0);
    background-position: 0 40px;
  }
  100% {
    background-image: linear-gradient(#f2a365 40px, transparent 0);
    background-position: 0 -40px;
  }
}
@keyframes spinx {
  0%, 49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }
  51%, 98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}
